*              @wire-corp/platform
/src/core/     @wire-corp/platform
/src/api/      @wire-corp/backend
/docs/         @wire-corp/docs
/scripts/      @wire-corp/devex
/.github/      @wire-corp/platform @wire-corp/devex
/.overwire/    @wire-corp/devex
